<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <h5 class="text-center text-info">Who are you?</h5>
  <app-text-input [formControl]="$any(registerForm.controls['username'])"
                  [label]="'Username'"
                  [placeholder]="'Your unique username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['nickname'])"
                  [label]="'Nickname'"
                  [placeholder]="'Your nickname seen by others'"></app-text-input>
  <div class="mb-3">
    <select class="form-control"
            [formControl]="$any(registerForm.controls['gender'])"
            [class.is-invalid]="registerForm.get('gender')?.errors && registerForm.get('gender')?.touched">
      <option value="" selected disabled>Gender</option>
      <option>Male</option>
      <option>Female</option>
    </select>
    <div class="invalid-feedback" *ngIf="registerForm.get('gender')?.hasError('required')">
      Select a gender
    </div>
  </div>
  <div class="mb-3">
    <h5 class="text-center text-info">Date of Birth</h5>
    <input [formControl]="$any(registerForm.controls['dateOfBirth'])"
           [class.is-invalid]="registerForm.get('dateOfBirth')?.errors && registerForm.get('dateOfBirth')?.touched"
           class="form-control"
           type="date"
           max={{getDate18YearsBefore()}} />
    <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth')?.hasError('required')">
      Enter a valid date of birth
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth')?.hasError('less18Years')">
      You should be 18 or older
    </div>
  </div>
  <h5 class="text-center text-info">Password</h5>
  <app-text-input [formControl]="$any(registerForm.controls['password'])"
                  [label]="'Password'"
                  [type]="'password'"
                  [placeholder]="'Password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
                  [label]="'Password confirmation'"
                  [type]="'password'"
                  [placeholder]="'Confirm password'"></app-text-input>
  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>

  <hr />
  <h5 class="text-center text-info">Additional Info</h5>
  <h6 class="text-center text-info">You can change this later in your profile</h6>
  <app-text-input [formControl]="$any(registerForm.controls['country'])"
                  [label]="'Country'"
                  [placeholder]="'Your country'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['city'])"
                  [label]="'City'"
                  [placeholder]="'Your city'"></app-text-input>
  <app-textarea-input [formControl]="$any(registerForm.controls['introduction'])"
                      [placeholder]="'Few words about yourself'"
                      [rows]="3"></app-textarea-input>
  <app-textarea-input [formControl]="$any(registerForm.controls['lookingFor'])"
                      [placeholder]="'What people are you looking for?'"
                      [rows]="3"></app-textarea-input>
  <app-textarea-input [formControl]="$any(registerForm.controls['interests'])"
                      [placeholder]="'Your interests'"
                      [rows]="3"></app-textarea-input>
  <div class="text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-primary me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
