<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <app-text-input [formControl]="$any(registerForm.controls['username'])"
                  [label]="'Username'"
                  [placeholder]="'Your unique username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['nickname'])"
                  [label]="'Nickname'"
                  [placeholder]="'Your nickname seen by others'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['password'])"
                  [label]="'Password'"
                  [type]="'password'"
                  [placeholder]="'Password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
                  [label]="'Password confirmation'"
                  [type]="'password'"
                  [placeholder]="'Confirm password'"></app-text-input>
  <div class="text-center">
    <button class="btn btn-primary me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
