<nav class="navbar navbar-expand bg-primary" aria-label="Second navbar example">
  <div class="container">
    <a class="navbar-brand text-light" routerLink="/" routerLinkActive="active">Dating app</a>

    <ul class="navbar-nav me-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li class="nav-item" *appHasRole="['Admin']">
          <a class="nav-link text-light" routerLink="/admin" routerLinkActive="active">Admin Panel</a>
        </li>
      </ng-container>
      <!--<li class="nav-item">
        <a class="nav-link text-light" routerLink="/errors" routerLinkActive="active">Test Errors</a>
      </li>-->
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
        <div class="list-inline-item" *ngIf="user || member">
          <img src="{{user.mainPhotoUrl || './assets/user.png'}}" alt="pfp" class="rounded" />
        </div>
        <div class="list-inline-item">{{user?.username | titlecase}}</div>
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/profile/edit">Edit profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
      
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
      <input name="username"
             [(ngModel)]="model.username"
             class="form-control me-2"
             type="text"
             placeholder="Username" />
      <input name="password"
             [(ngModel)]="model.password"
             class="form-control me-2"
             type="password"
             placeholder="Password" />
      <button class="btn btn-info" type="submit">Login</button>
    </form>
  </div>
</nav>
